[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sherlock"]
	path = sherlock
	url = https://github.com/gaboraszabo/sherlock
	shallow = true
	registered = true
